body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0; 
}

.logo {
        position: relative;
        width: 200px;
        height: auto; 
    }

    .logo img {
        position: absolute;
        top: -45px; 
        left: 1820px; 
        transform: translateY(-50%);
        width: 70px;
        height: auto;
    }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  animation: popOutMenu 0.3s ease forwards;
}

@keyframes popOutMenu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content.show {
  display: block;
}

.dropdown {
  position: absolute;
  top: 1px;
  left: 10px;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 8px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
  z-index: 1;
  top: -10px;
  left: 100%;
  white-space: nowrap;
  transition: top 0.3s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content img {
  max-width: 100px;
  height: auto; 
  position: absolute;
  top: -10px; 
  left: 0;
  transition: top 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: 0;
}

.dropdown-content a:hover img {
  top: -40px;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  border-radius: 10px;
  overflow: auto;
}

.tier-table {
  width: 100%;
  border-collapse: collapse;
}

.tier-table th,
.tier-table td {
  border: 2px solid #000000;
  padding: 18.8px;
  text-align: center;
}

.tier-table th {
  background-color: #292929;
}

.tier-table td {
  min-width: 100px;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #b6b6b6;
  cursor: default;
}

h2 {
  position: absolute;
  top: -60px;
  right: -1605px;
  margin: 0;
  text-align: right;
  color: #FFA500;
}

.spend-container {
  margin-top: 20px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(48, 47, 47, 0.9);
  border-radius: 5px;
  text-align: center;
}

.button-container {
  text-align: center;
}

.sword, .crystal, .DiamondPot, .bridges,.UHC {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.sword {
  background-image: url('image1.png');
}

.crystal {
  background-image: url('image2.png');
}

.DiamondPot {
  background-image: url('image3.png');
}

.UHC {
  background-image: url('image4.png');
}

.bridges {
  background-image: url('image7.png');
}

.tier1 {
  color: gold;
  font-size: 42px;
  font-weight: bold;
  cursor: default;
}

.tier2 {
  color: rgb(155, 155, 155);
  font-size: 42px;
  font-weight: bold;
  cursor: default;
}

.tier3 {
  color: rgb(205, 127, 50);
  font-size: 42px;
  font-weight: bold;
  cursor: default;
}

.tier4 {
  color: rgb(109, 109, 109);
  font-size: 42px;
  font-weight: bold;
  cursor: default;
}

.tier5 {
  color: rgb(82, 82, 82);
  font-size: 42px;
  font-weight: bold;
  cursor: default;
}

.spend-container .tier-table {
  width: 100%;
  border-collapse: collapse;
}

.spend-container .tier-table th,
.spend-container .tier-table td {
  border-color: transparent;
  padding: 10px;
  text-align: center;
}

.spend-container .tier-table td:not(:last-child),
.spend-container .tier-table th:not(:last-child) {
  border-right-color: #292929;
}

.spend-container .tier-table tr:not(:last-child) td,
.spend-container .tier-table tr:not(:last-child) th {
  border-bottom-color: #292929;
}

.spend-container .tier-table td,
.spend-container .tier-table th {
  background-color: #3E71F4;
}

.spend-container .tier-table th {
  background-color: transparent;
}

.size,
.size1,
.size2,
.size3,
.size4,
.size5,
.size6,
.size7,
.size8,
.size9,
.size10,
.size11,
.size12,
.size13,
.size14,
.size15,
.size16,
.size17,
.size18,
.size19,
.size20 {
  font-size: x-Medium;
  cursor: default;
}


/* Row 1 */
#cell1_1 {
  background-color: #3E71F4;
}

#cell1_2 {
  background-color: #3E71F4;
  color:#FFFF33;
}

#cell1_3 {
  background-color: #3E71F4;
}

#cell1_4 {
  background-color: #3E71F4;
}

#cell1_5 {
  background-color: #3E71F4; 
}

/* Row 2 */
#cell2_1 {
  background-color: #95CEFF;
}

#cell2_2 {
  background-color: #3E71F4; 
}

#cell2_3 {
  background-color: #3E71F4;
}

#cell2_4 {
  background-color: #3E71F4;
}

#cell2_5 {
  background-color: #292929;
}

/* Row 3 */
#cell3_1 {
  background-color: #292929; 
}

#cell3_2 {
  background-color: #3E71F4;
}

#cell3_3 {
  background-color: #3E71F4;
}

#cell3_4 {
  background-color: #3E71F4; 
}

#cell3_5 {
  background-color: #292929;
}

/* Row 4 */
#cell4_1 {
  background-color: #292929;
}

#cell4_2 {
  background-color: #3E71F4;
  color:#FFFF33;
}

#cell4_3 {
  background-color: #3E71F4;
}

#cell4_4 {
  background-color: #3E71F4;
}

#cell4_5 {
  background-color: #292929;
}

/* Row 5 */
#cell5_1 {
  background-color: #292929;
}

#cell5_2 {
  background-color: #3E71F4;
}

#cell5_3 {
  background-color: #3E71F4;
}

#cell5_4 {
  background-color: #3E71F4;
}

#cell5_5 {
  background-color: #292929;
}

/* Row 6 */
#cell6_1 {
  background-color: #292929;
}

#cell6_2 {
  background-color: #3E71F4;
  
}

#cell6_3 {
  background-color: #3E71F4;
}

#cell6_4 {
  background-color: #3E71F4;
}

#cell6_5 {
  background-color: #292929;
}

/* Row 7 */
#cell7_1 {
  background-color: #292929;
}

#cell7_2 {
  background-color: #3E71F4;
  color:#FFFF33;
}

#cell7_3 {
  background-color: #3E71F4;
}

#cell7_4 {
  background-color: #3E71F4;
}

#cell7_5 {
  background-color: #292929;
}

/* Row 8 */
#cell8_1 {
  background-color: #292929;
}

#cell8_2 {
  background-color: #95CEFF;

}

#cell8_3 {
  background-color: #3E71F4;
}

#cell8_4 {
  background-color: #3E71F4;
}

#cell8_5 {
  background-color: #292929;
}

/* Row 9 */
#cell9_1 {
  background-color: #292929;
}

#cell9_2 {
  background-color: #95CEFF;
  color:#FFFF33;
}

#cell9_3 {
  background-color: #3E71F4;
}

#cell9_4 {
  background-color: #3E71F4;
}

#cell9_5 {
  background-color: #292929;
}

/* Row 10 */
#cell10_1 {
  background-color: #292929;
}

#cell10_2 {
  background-color: #95CEFF;
  color:#FFFF33;
}

#cell10_3 {
  background-color: #3E71F4;
}

#cell10_4 {
  background-color: #3E71F4;
}

#cell10_5 {
  background-color: #292929;
}

/* Row 11 */
#cell11_1 {
  background-color: #292929;
}

#cell11_2 {
  background-color: #95CEFF;
  color:
}

#cell11_3 {
  background-color: #3E71F4;
}

#cell11_4 {
  background-color: #3E71F4;
}

#cell11_5 {
  background-color: #292929;
}

/* Row 12 */
#cell12_1 {
  background-color: #292929;
}

#cell12_2 {
  background-color: #95CEFF;
  color:#FFFF33;
}

#cell12_3 {
  background-color: #3E71F4;
}

#cell12_4 {
  background-color: #3E71F4;
}

#cell12_5 {
  background-color: #292929;
}

/* Row 13 */
#cell13_1 {
  background-color: #292929;
}

#cell13_2 {
  background-color: #95CEFF;
}

#cell13_3 {
  background-color: #95CEFF;
}

#cell13_4 {
  background-color: #3E71F4;
}

#cell13_5 {
  background-color: #292929;
}

/* Row 14 */
#cell14_1 {
  background-color: #292929;
}

#cell14_2 {
  background-color: #292929;
}

#cell14_3 {
  background-color: #95CEFF;
}

#cell14_4 {
  background-color: #3E71F4;
}

#cell14_5 {
  background-color: #292929;
}

/* Row 15 */
#cell15_1 {
  background-color: #292929;
}

#cell15_2 {
  background-color: #292929;
}

#cell15_3 {
  background-color: #95CEFF;
}

#cell15_4 {
  background-color: #3E71F4;
}

#cell15_5 {
  background-color: #292929;
}

/* Row 16 */
#cell16_1 {
  background-color: #292929;
}

#cell16_2 {
  background-color: #292929;
}

#cell16_3 {
  background-color: #95CEFF;
}

#cell16_4 {
  background-color: #95CEFF;
}

#cell16_5 {
  background-color: #292929;
}

/* Row 17 */
#cell17_1 {
  background-color: #292929;
}

#cell17_2 {
  background-color: #292929;
}

#cell17_3 {
  background-color: #95CEFF;
}

#cell17_4 {
  background-color: #95CEFF;
}

#cell17_5 {
  background-color: #292929;
}

/* Row 18 */
#cell18_1 {
  background-color: #292929;
}

#cell18_2 {
  background-color: #292929;
}

#cell18_3 {
  background-color: #95CEFF;
}

#cell18_4 {
  background-color: #95CEFF;
}

#cell18_5 {
  background-color: #292929;
}

/* Row 19 */
#cell19_1 {
  background-color: #292929;
}

#cell19_2 {
  background-color: #292929;
}

#cell19_3 {
  background-color: #95CEFF;
}

#cell19_4 {
  background-color: #95CEFF;
}

#cell19_5 {
  background-color: #292929;
}

/* Row 20 */
#cell20_1 {
  background-color: #292929;
}

#cell20_2 {
  background-color: #292929;
}

#cell20_3 {
  background-color: #95CEFF;
}

#cell20_4 {
  background-color: #95CEFF;
}

#cell20_5 {
  background-color: #292929;
}

/* Row 21 */
#cell21_1 {
  background-color: #292929;
}

#cell21_2 {
  background-color: #292929;
}

#cell21_3 {
  background-color: #95CEFF;
}

#cell21_4 {
  background-color: #95CEFF;
}

#cell21_5 {
  background-color: #292929;
}
/* Row 22 */
#cell22_1 {
  background-color: #292929;
}

#cell22_2 {
  background-color: #292929;
}

#cell22_3 {
  background-color: #95CEFF;
}

#cell22_4 {
  background-color: #292929;
}

#cell22_5 {
  background-color: #292929;
}
/* Row 23 */
#cell23_1 {
  background-color: #292929;
}

#cell23_2 {
  background-color: #292929;
}

#cell23_3 {
  background-color: #95CEFF;
}

#cell23_4 {
  background-color: #292929;
}

#cell23_5 {
  background-color: #292929;
}
/* Row 24 */
#cell24_1 {
  background-color: #292929;
}

#cell24_2 {
  background-color: #292929;
}

#cell24_3 {
  background-color: #95CEFF;
}

#cell24_4 {
  background-color: #292929;
}

#cell24_5 {
  background-color: #292929;
}
/* Row 25 */
#cell25_1 {
  background-color: #292929;
}

#cell25_2 {
  background-color: #292929;
}

#cell25_3 {
  background-color: #95CEFF;
}

#cell25_4 {
  background-color: #292929;
}

#cell25_5 {
  background-color: #292929;
}
